<!DOCTYPE html>
<html lang="de" prefix="og: https://ogp.me/ns#">

    {{> header 
        title="404 Not Found" 
        description="404 Not Found" 
        pageUrl="404.html" 
        imageUrl="ms-icon-310x310.png" 
    }}

<body>

    {{> nav }}

    <main>

        <div class="container py-5">
            <div class="row">
                <h1 class="display-1 fw-light text-muted text-break">404 Not Found</h1>
            </div>
        </div>

    </main>

    {{> footer }}

</body>

</html>