<footer class="text-center text-lg-start text-muted bg-primary">
    <div class="container p-4">
        <div class="row">
            <div class="col-lg-9 col-sm-12 mb-4">
                <h4 class="text-white">Tortenkreation SHS</h4>
                <p class="text-white">Dein Blog für individuelle Gestaltung von Motivtorten zu verschiedenen Anlässen aus Schloß Holte-Stukenbrock.</p>
            </div>
            <div class="col-lg-3 col-sm-12 mb-4">
                <h4 class="text-white">Sitemap</h4>
                <ul class="mb-0 list-unstyled">
                    <li><a class="text-white text-decoration-none" href="{{path}}index.html">Home</a></li>
                    <li><a class="text-white text-decoration-none" href="{{path}}torten.html">Torten</a></li>
                    <li><a class="text-white text-decoration-none" href="{{path}}datenschutz.html">Datenschutz</a></li>
                    <li><a class="text-white text-decoration-none" href="{{path}}impressum.html">Impressum</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="text-center bg-dark text-white p-3">
        © 2023 Copyright Tortenkreation SHS
    </div>
</footer>