<nav class="navbar navbar-expand-md navbar-dark bg-primary justify-content-between flex-nowrap flex-row">
    <div class="container">
        <a class="navbar-brand fw-light fs-3" href="{{path}}index.html">Tortenkreation</a>
        <ul class="navbar-nav flex-row float-right">
            <li class="nav-item">
                <a class="nav-link px-2 {{home}}" href="{{path}}index.html">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link px-2 {{torten}}" href="{{path}}torten.html">Tortengalerie</a>
            </li>
        </ul>
    </div>
</nav>