<!DOCTYPE html>
<html lang="de">

{{> header title="Home" }}

<body>

    {{> nav home="active" }}

    <main>
        <div class="container-fluid">
            <div class="row">
                <img src="background-banner-1.jpg" class="img-fluid px-0">
            </div>
        </div>
        <div class="container py-5 text-center">
            <div class="row">
                <h1 class="display-2 text-primary">Tortenkreation SHS</h1>
                <p class="lead text-muted">Dein Blog für individuelle Gestaltung von Motivtorten zu verschiedenen Anlässen aus Schloß Holte-Stukenbrock.</p>
                <div class="col-6 col-lg-3 py-2 d-flex justify-content-center">
                    <img class="img-fluid" src="hero-naked-cake-zur-hochzeit.jpg">
                </div>
                <div class="col-6 col-lg-3 py-2 d-flex justify-content-center">
                    <img class="img-fluid" src="hero-prinzessin-schloss-torte.jpg">
                </div>
                <div class="col-6 col-lg-3 py-2 d-flex justify-content-center">
                    <img class="img-fluid" src="hero-geburtstagstorte-rose.jpg">
                </div>
                <div class="col-6 col-lg-3 py-2 d-flex justify-content-center">
                    <img class="img-fluid" src="hero-babyparty-torte-junge.jpg">
                </div>
            </div>
        </div>
        <div class="container-fluid">
            <div class="row">
                <img src="background-banner-2.jpg" class="img-fluid px-0">
            </div>
        </div>
        <div class="container py-5 text-center">
            <div class="row">
                <h1 class="display-2 text-primary">Über mich</h1>
            </div>
        </div>
        <div class="container-fluid">
            <div class="row">
                <img src="background-banner-3.jpg" class="img-fluid px-0">
            </div>
        </div>
    </main>

    {{> footer }}

</body>

</html>