<!DOCTYPE html>
<html lang="de">

{{> header title="Home" }}

<body>

    {{> nav home="active" }}

    <main>

        <div class="parallax parallax-1"></div>

        <div class="container py-5 text-center">
            <div class="row">
                <h1 class="display-2 text-primary">Tortenkreation SHS</h1>
                <p class="lead text-muted">Dein Blog für individuelle Gestaltung von Motivtorten zu verschiedenen Anlässen aus Schloß Holte-Stukenbrock.</p>
                <div class="col-6 col-lg-3 py-2 d-flex justify-content-center">
                    <img class="img-fluid" src="hero-naked-cake-zur-hochzeit.jpg">
                </div>
                <div class="col-6 col-lg-3 py-2 d-flex justify-content-center">
                    <img class="img-fluid" src="hero-prinzessin-schloss-torte.jpg">
                </div>
                <div class="col-6 col-lg-3 py-2 d-flex justify-content-center">
                    <img class="img-fluid" src="hero-geburtstagstorte-rose.jpg">
                </div>
                <div class="col-6 col-lg-3 py-2 d-flex justify-content-center">
                    <img class="img-fluid" src="hero-babyparty-torte-junge.jpg">
                </div>
            </div>
            <div class="row pt-4">
                <div class="col text-center">
                    <a href="torten.html" class="btn btn-primary btn-lg text-white">Alle Torten entdecken</a>
                </div>
            </div>
        </div>

        <div class="parallax parallax-2"></div>

        <div class="container py-5">
            <div class="row text-center">
                <h1 class="display-2 text-primary">Über mich</h1>
            </div>
            <div class="row py-5">
                <div class="col"></div>
                <div class="col-8">
                    <div class="row d-flex align-items-center flex-nowrap">
                        <div class="col text-end">
                            <img src="portrait.jpg" class="rounded-circle">
                        </div>
                        <div class="col">
                            <h3 class="fw-light">Backen ist meine Leidenschaft</h5>
                        </div>
                    </div>
                </div>
                <div class="col"></div>
            </div>
            <div class="row text-center">
                <p class="lead text-muted">Hi, ich bin Melissa aus Schloß Holte-Stukenbrock. Herzlich Willkommen auf meinem persönlichen Blog. Backen ist meine große Leidenschaft. Schau doch mal in die <a class="link-primary" href="torten.html">Tortengalerie</a>, in der ich dir meine Tortenkreationen präsentiere. Bei Fragen oder Anregungen freue ich mich auf eine Kontaktaufnahme per E-Mail an <a class="link-primary" href="mailto:kontakt@tortenkreation-shs.de">kontakt@tortenkreation-shs.de</a>.</p>
            </div>
        </div>

        <div class="parallax parallax-3"></div>

    </main>

    {{> footer }}

</body>

</html>