<!DOCTYPE html>
<html lang="de">

{{> header title="Torten" }}

<body>

    {{> nav torten="active" }}

    <main>
        <div class="album py-5">
            <div class="container">
                <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                    {{#each items}}
                    <div class="col">
                        <div class="card shadow-sm">
                            <img src="img/{{this.fields.slug}}-thumb.jpg" class="card-img-top" alt="{{this.fields.title}}">
                            <div class="card-body">
                                <p class="card-text">{{this.fields.title}}</p>
                                <div class="d-flex justify-content-between align-items-center">
                                    <a class="btn btn-sm btn-outline-secondary stretched-link" href="torten/{{this.fields.slug}}.html">Details</a>
                                    <small class="text-muted">{{date this.fields.creationDate}}</small>
                                </div>
                            </div>
                        </div>
                    </div>
                    {{/each}}
                </div>
            </div>
        </div>
    </main>

    {{> footer }}

</body>

</html>