---
import torten from "../../data/torten.json";
import BaseLayout from '../../layouts/BaseLayout.astro';

const pageTitle = "Anlässe";

const counts = {};
torten
    .flatMap(t => t.occasions)
    .forEach(function (occasion) 
    { 
        counts[occasion] = (counts[occasion] || 0) + 1; 
    });
---

<BaseLayout pageTitle={pageTitle}>
    <div class="album py-5">
        <div class="container">
            <div class="row mb-4">
                <h1 class="display-4 fw-light text-center text-muted text-break">{pageTitle}</h1>
            </div>
            <div class="row row-cols-2 row-cols-lg-3 g-3">
                <p class="text-wrap">{JSON.stringify(counts)}</p>
            </div>
        </div>
    </div>
</BaseLayout>