---
import BaseLayout from '../layouts/BaseLayout.astro';

const pageTitle = "Impressum";
---

<BaseLayout pageTitle={pageTitle}>
    <div class="container py-5">
        <div class="row py-4">
           <h1 class="display-3 fw-light text-muted text-break">{pageTitle}</h1>
        </div>
        <div class="row">
           <div class="col-md">
              <h5>Verantwortlich für den Inhalt</h5>
              <p>Name: Melissa<br>E-Mail: <a href="mailto:tortenkreation-shs@protonmail.com">tortenkreation-shs@protonmail.com</a></p>
              <p>Hinweis: Dies ist ein Hobbyblog. Ich hege keine Gewinnerzielungsabsicht, weder direkt durch gewerbliche Verkäufe noch indirekt durch Tracking oder Werbung.</p>
              <h5>Ausschluss der Haftung</h5>
              <p>1. Haftung für Inhalte</p>
              <p>Sämtliche Inhalte meiner Internetpräsenz sind mit größtmöglicher Sorgfalt erstellt worden. Dennoch ist es mir nicht möglich, eine Gewähr dafür zu übernehmen, dass diese Inhalte richtig, vollständig und aktuell sind. Ich bin gemäß § 7 Abs. 1 TMG für die eigenen Inhalte auf meiner Internetpräsenz verantwortlich. Gemäß den §§ 8, 9 und 10 TMG besteht für mich allerdings keine Verpflichtung, dass ich Informationen von Dritten, die übermittelt oder gespeichert wurden, überwachen oder Umstände ausforschen müssten, die Hinweise auf nicht rechtmäßige Tätigkeiten ergeben. Davon nicht berührt, ist meine Verpflichtung zur Sperrung oder Entfernung von Informationen, welche uns von den allgemeinen Gesetzen auferlegt wird. Ich hafte allerdings insoweit erst in dem Moment, in dem wir von einer konkreten Verletzung von Rechten Kenntnis erlangen. Wenn ich von einer solchen Verletzung von Rechten Kenntnis erlange, wird eine unverzügliche Entfernung der entsprechenden Inhalte erfolgen.</p>
           </div>
           <div class="col-md">
              <p>2. Datenschutz</p>
              <p>Bitte beachten Sie die <a href="datenschutz.html">Hinweise zum Datenschutz</a>. Ich widerspreche der Nutzung meiner Kontaktdaten durch Dritte, die mir damit nicht verlangte Werbung, Informationsmaterial oder Spam-Mails zukommen lassen wollen. Sollte dies doch geschehen, behalte ich mir rechtliche Schritte dagegen vor.</p>
              <p>3. Haftung für Links</p>
              <p>Meine Internetpräsenz enthält Links, die zu externen Internetseiten von Dritten führen. Auf die Inhalte dieser externen Seiten habe ich keine Einflussmöglichkeiten. Es ist mir daher nicht möglich, eine Gewähr für diese Inhalte zu übernehmen. Die Verantwortung dafür hat immer der jeweilige Anbieter/Betreiber der entsprechenden Internetseiten. Ich überprüfe die von mir verlinkten Internetseiten zum Zeitpunkt der Verlinkung auf einen möglichen Rechtsverstoß. Die Verlinkung kommt nur dann zustande, wenn ein rechtswidriger Inhalt zu diesem Zeitpunkt nicht erkennbar ist. Es kann mir jedoch, ohne einen konkreten Anhaltspunkt, nicht zugemutet werden, ständig die verlinkten Internetseiten inhaltlich zu kontrollieren. Wenn ich jedoch von einer Rechtsverletzung Kenntnis erlangen, werde ich den entsprechenden Link unverzüglich entfernen.</p>
              <p>4. Urheberrecht</p>
              <p>Die auf meiner Internetpräsenz enthaltenen Werke und Inhalte unterstehen dem Urheberrecht. Ohne meine schriftliche Genehmigung dürfen die Werke bzw. Inhalte nicht vervielfältigt, bearbeitet, verbreitet und verwertet werden. Das Herunterladen und Kopieren meiner Internetpräsenz ist für den privaten Gebrauch erlaubt, nicht jedoch für den kommerziellen. Ich weise darauf hin, dass hinsichtlich der Inhalte auf meiner Internetpräsenz, soweit sie nicht von mir erstellt worden sind, das Urheberrecht von Dritten beachtet wurde. Inhalte von Dritten erhalten als solche eine Kennzeichnung von mir. Ich wäre Ihnen dankbar, wenn Sie mir einen Hinweis erteilen würden, falls Sie trotzdem auf eine Urheberrechtsverletzung gestoßen sind. Wenn ich von einer solchen Urheberrechtsverletzung Kenntnis erlange, werde ich den entsprechenden Inhalt unverzüglich entfernen.</p>
           </div>
        </div>
    </div>
</BaseLayout>