---
const currentPath = Astro.url.pathname;
---

<nav class="navbar navbar-expand-md navbar-dark bg-primary justify-content-between flex-nowrap flex-row">
    <div class="container">
        <a class="navbar-brand fw-light fs-3" href="/">Tortenkreation</a>
        <ul class="navbar-nav flex-row float-right">
            <li class="nav-item">
                <a class:list={[ 'nav-link', 'px-2', { active: currentPath == "/" } ]} href="/">Home</a>
            </li>
            <li class="nav-item">
                <a class:list={[ 'nav-link', 'px-2', { active: currentPath.startsWith("/torten/") } ]} href="/torten/1/">Tortengalerie</a>
            </li>
        </ul>
    </div>
</nav>