---
const { pageTitle, shareImageUrl, shareDescription } = Astro.props;

const path = Astro.url.pathname;
const origin = "https://tortenkreation-shs.de";

const image = shareImageUrl ? shareImageUrl : "/ms-icon-310x310.png";
const description = shareDescription ? shareDescription : "Dein Blog für individuelle Gestaltung von Motivtorten zu verschiedenen Anlässen aus Schloß Holte-Stukenbrock.";
---

<meta name="thumbnail" content={`${origin}${image}`} />
<meta name="description" content={description}>
<meta property="og:description" content={description}>
<meta property="og:url" content={`${origin}${path}`}>
<meta property="og:image" content={`${origin}${image}`}>
<meta property="og:title" content={pageTitle}>
<meta property="og:type" content="website">
<meta property="og:locale" content="de_DE">
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:title" content={pageTitle}>
<meta name="twitter:description" content={description}>
<meta name="twitter:image" content={`${origin}${image}`}>