---
const { torte } = Astro.props;

const origin = "https://tortenkreation-shs.de";

const uri = `${origin}/torten/${torte.slug}/`

const whatsappUri = encodeURI(`whatsapp://send?text=${torte.name}: ${uri}`);
const facebookUri = encodeURI(`https://www.facebook.com/sharer/sharer.php?u=${uri}`);
const twitterUri = encodeURI(`https://twitter.com/intent/tweet?text=${torte.name}&url=${uri}`);
const pinterestUri = encodeURI(`https://pinterest.com/pin/create/button/?url=${uri}&media=${origin}${torte.images[0]}&description=${torte.name}`);
---

<div class="d-grid d-md-block">
    <a class="btn social-button-pinterest m-1" href={pinterestUri}>
        <img src="/social-pinterest.png">
        <span class="fw-light text-white">
            PIN
        </span> 
    </a>
    <a class="btn social-button-twitter m-1" href={twitterUri}>
        <img src="/social-twitter.png">
        <span class="fw-light text-white">
            TWEET
        </span>
    </a>
    <a class="btn social-button-facebook m-1" href={facebookUri}>
        <img src="/social-facebook.png">
        <span class="fw-light text-white">
            SHARE
        </span> 
    </a>
    <a class="btn social-button-whatsapp m-1" href={whatsappUri}>
        <img src="/social-whatsapp.png">
        <span class="fw-light text-white">
            SEND
        </span>
    </a>
</div>