---
const { page } = Astro.props;
---

<nav class="d-flex justify-content-between">

    <ul class="pagination">

        <!-- Previous -->
        <li class:list={[ 'page-item', { disabled: !page.url.prev } ]}>
            <a class="page-link" href={`${page.url.prev}/`} aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
            </a>
        </li>

        <!-- 1...n -->
        {Array.from({length: page.lastPage}, (_, i) => (
            <li class:list={[ 'page-item', { active: page.currentPage == i+1 } ]}>
                <a class="page-link" href={`/torten/${i+1}/`}>{i+1}</a>
            </li>
        ))}

        <!-- Next -->
        <li class:list={[ 'page-item', { disabled: !page.url.next } ]}>
            <a class="page-link" href={`${page.url.next}/`} aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
            </a>
        </li>
        
    </ul>

    <p class="mt-2">
        <small>
            {page.start+1} bis {page.end+1} von {page.total}
        </small>
    </p>
    
</nav>