---
import FriendlyDate from "../components/FriendlyDate.astro";
import SocialButtons from '../components/SocialButtons.astro';

const { torte } = Astro.props;

const createdAt = new Date(torte.createdAt);
---

<div class="container py-5 text-center">
    <div class="row">
        <h1 class="display-2 fw-light text-muted text-break">{torte.name}</h1>
    </div>
    <div class="row justify-content-md-center py-4">
        <div class="col-lg-3"></div>
        <div class="col fw-light lead text-muted">
            <p>{torte.description}</p>
        </div>
        <div class="col-lg-3"></div>
    </div>
    <div class="row">
        <SocialButtons torte={torte} />
    </div>
</div>
<div class="container-fluid bg-light">
    <div class="row pb-3">
        {torte.images.map(image => (
            <div class="col-12 col-sm-6 mt-3">
                <a href={image}>
                    <img class="img-fluid" src={image} alt={torte.name}>
                </a>
            </div>
        ))}
    </div>
</div>
<div class="container py-5 text-center">
    <div class="row">
        <p class="lead fw-light">
            Kreiert <b><FriendlyDate date={createdAt} /></b> am {createdAt.toLocaleDateString()}
        </p>
        <p class="lead fw-light">
            Anlass: <b>{torte.occasions.join(", ")}</b>
        </p>
    </div>
</div>