---
import FriendlyDate from "../components/FriendlyDate.astro";

const { torte } = Astro.props;

const detailUri = `/torten/${torte.slug}/`;
const createdAt = new Date(torte.createdAt);
---

<div class="col">
    <div class="card shadow-sm">
        <a href={detailUri}>
            <img src={torte.thumbnail} class="card-img-top" alt={torte.name}>
        </a>
        <div class="card-body">
            <p class="card-text text-truncate">
                {torte.name}
            </p>
            <div class="d-none d-sm-block">
                <div class="d-flex justify-content-between align-items-center">
                    <a class="btn btn-sm btn-outline-primary" href={detailUri}>
                        Details
                    </a>
                    <small class="text-muted">
                        <FriendlyDate date={createdAt} />
                    </small>
                </div>
            </div>
        </div>
    </div>
</div>