---
import torten from "../../data/torten.json";
import BaseLayout from '../../layouts/BaseLayout.astro';
import TorteListItem from '../../components/TorteListItem.astro';
import TortenPaginator from '../../components/TortenPaginator.astro';

const pageTitle = "Tortengalerie";

export async function getStaticPaths({ paginate }) {
    const orderedTorten = torten.sort((a, b) => {
        if (b.createdAt < a.createdAt) {
            return -1;
        }
        if (b.createdAt > a.createdAt) {
            return 1;
        }
        return 0;
    });
    
    return paginate(orderedTorten, { pageSize: 18 });
}

const { page } = Astro.props;
---

<BaseLayout pageTitle={pageTitle}>
    <div class="album py-5">
        <div class="container">
            <div class="row mb-4">
                <h1 class="display-4 fw-light text-center text-muted text-break">Tortengalerie</h1>
            </div>
            <TortenPaginator page={page} />
            <div class="row row-cols-2 row-cols-lg-3 g-3">
                {page.data.map(torte => (    
                    <TorteListItem torte={torte} />
                ))}
            </div>
            <div class="row pt-4">
                <TortenPaginator page={page} />
            </div>
        </div>
    </div>
</BaseLayout>