---
import torten from "../../data/torten.json";
import BaseLayout from '../../layouts/BaseLayout.astro';
import TorteDetailItem from '../../components/TorteDetailItem.astro';

export async function getStaticPaths() {
  return torten.map(item => ({ params: { slug: item.slug } }));
}

const { slug } = Astro.params;

const torte = torten.find(item => item.slug === slug)!;
---

<BaseLayout pageTitle={torte.name} shareImageUrl={torte.thumbnail} shareDescription={torte.description}>
    <TorteDetailItem torte={torte} />
</BaseLayout>