.parallax {
    height: 350px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.parallax-1 {
    background-image: url("background-banner-1.jpg");
}

.parallax-2 {
    background-image: url("background-banner-2.jpg");
}

.parallax-3 {
    background-image: url("background-banner-3.jpg");
}

.social-button-pinterest {
    background-color: #d50920 !important;
}

.social-button-twitter {
    background-color: #55acee !important;
}

.social-button-facebook {
    background-color: #4273c8 !important;
}

.social-button-whatsapp {
    background-color: #5cbe4a !important;
}

$primary: #f48fb1;
$secondary: #7F3E54;
$light: #F7DBE4;
$dark: #3D242C;

@import "../node_modules/bootstrap/scss/bootstrap";